<%= form_for @listing, :html => { :multipart => true } do |f| %>
  <%= f.hidden_field :status, value: 'Open' %>

  <div>
    <label>Listing Title</label>
    <%= f.text_field :title, placeholder: "my great grandma's favorite chair" %>
  </div>

  <div>
    <label>Story</label>
    <%= f.text_area :story, placeholder: "she climbed on top of it to save five kittens from a burning tree" %>
  </div>

  <div>
    <label>Desired Price</label>
    <nobr>
      $<%= f.text_field :price, placeholder: '1,000,000', class: 'short' %>
    </nobr>
  </div>

  <div>
    <label>Image 1</label>
    <%= f.file_field :image %>
  </div>
  <div>
    <label>Image 2</label>
    <%= f.file_field :image2 %>
  </div>
  <div>
    <label>Image 3</label>
    <%= f.file_field :image3 %>
  </div>

  <%= submit_tag 'Submit' %>
<% end %>