<div id="HomeContainer">
  <div class="hometitle">
    <h1>Thrift is a place where you can <%= link_to('buy', listings_path) %>, <%= link_to('sell', new_listing_path) %>, <%= link_to('borrow', new_request_path) %> and <%= link_to('lend', requests_path) %> all the things.</h1>
  </div>

  <a href="<%= listings_path %>">
    <div class="half left" style="background-image: url('/images/barrelmoments01.jpg');">
      <span class="spacer"></span>
      <h1 class="h5">Buy<br>things</h1>
    </div>
  </a>
  <a href="<%= new_request_path %>">
  <div class="half right" style="background-image: url('/images/barrelmoments02.jpg');">
    <span class="spacer"></span>
    <h1 class="h5">Borrow<br>things</h1>
  </div>
  </a>
</div>