<%= form_for @request do |f| %>
  <%= f.hidden_field :status, value: 'Open' %>

  <div class="request">
    <table>
      <tr>
        <td>
          Can I borrow...
        </td>
        <td>
          <%= f.text_field :item, placeholder: "a lawnmover, someone's car" %>?
        </td>
      </tr>
    </table>
  </div>

  <div>
    <label>Now elaborate</label>
    <%= f.text_area :description, placeholder: "I really need this in my life right now" %>
  </div>

  <%= submit_tag 'Submit' %>
<% end %>