<% if (@requests.size > 0) %>
  <div id="BorrowList">
    <h1 class="big">Things people need.</h1>
    <div id="Listing">
      <dl class="accordion">
        <% @requests.each do |r| %>
          <dt>
            <a href="">
            <span class="info">
            <h1 class="h2"><%= r.user.first_name %> <%= r.user.last_name %></h1>
            <h2 class="h1">Can I borrow <%= r.item %>?</h2>
            <h3>▿</h3>
            </span>
            </a>
          </dt>
          <dd>
            <h1 class="h3">The story</h1>
            <p><%= r.description %></p>

            <%= link_to(raw("<span class='btn2 h4'>I can lend this</span>"), request_contact_path(r)) %>
          </dd>
        <% end %>
      </dl>
    </div>
  </div>
<% end %>