<div>
  <h3>Send A message to this seller</h3>

  <%= form_for @contact do |f| %>
    <label>Your Name</label>
    <%= f.text_field :name, :required => true %>

    <label>Your Email Address</label>
    <%= f.text_field :email, :required => true %>

    <label>Your Message</label>
    <%= f.text_area :message, :required => true %>
    
    <div class= "hidden">
      <%= f.hidden_field :nickname %>
    </div>
    <div>
      </br>
      <%= submit_tag 'Submit' %>
    </div>
  <% end %>
</div>