<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic|Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/x-icon" href="<%= asset_path('favicon.ico') %>">

  <title>THRIFT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <div id="Wrapper">
    <nav id="MainNav">
      <a href="<%= root_path %>"><span class="logo"></span></a>
      <ul id="Nav">
        <li class="h3"><%= link_to('Buy', listings_path) %></li>
        <li class="h3"><%= link_to('Sell', new_listing_path) %></li>
        <li class="h3"><%= link_to('Borrow', new_request_path) %></li>
        <li class="h3"><%= link_to('Lend', requests_path) %></li>

        <% unless user_signed_in? %>
          <li class="h3 login"><%= link_to 'Login', new_user_session_path %></li>
        <% else %>
          <li class="h3 login"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        <% end %>
      </ul>
    </nav>

    <nav id="MobileNav">
      <a href="" class="menubtn">
        <span class="line line-t"></span>
        <span class="line line-m"></span>
        <span class="line line-b"></span>
      </a>
      <ul id="Nav2">
        <li class="h1"><%= link_to('Home', root_path) %></li>
        <li class="h1"><%= link_to('Buy', listings_path) %></li>
        <li class="h1"><%= link_to('Sell', new_listing_path) %></li>
        <li class="h1"><%= link_to('Borrow', new_request_path) %></li>
        <li class="h1"><%= link_to('Lend', requests_path) %></li>
        <% unless user_signed_in? %>
          <li class="h1 login"><%= link_to 'Login', new_user_session_path %></li>
        <% else %>
          <li class="h1 login"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        <% end %>
      </ul>
    </nav>

    <section class="contentwrapper">
      <%= yield %>
    </section>

    <div id="Footer">
        <img src="/images/loader.svg">
        <h1 class="h4">Copyright <span class="copyright">©</span> 2014. A thing by Team-ISH</h1>
    </div>

  </div>
</body>
</html>
