<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic|Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/x-icon" href="<%= asset_path('favicon.ico') %>">

  <title>THRIFT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <div id="Wrapper">

    <div id="HomeLogo">
      <a href="<%= root_path %>"><span class="logo h2">Thrift</span></a>
    </div>

    <aside class="outer">
      <%= yield %>
    </aside>

    <div id="Footer">
        <img src="/images/loader.svg">
        <h1 class="h4">Copyright <span class="copyright">©</span> 2014. A thing by Team-ISH</h1>
    </div>

  </div>
</body>
</html>
